@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
body{
	font-family: 'Quicksand';
	font-size: 14px;
	color: #727272;
}
.header-area.sticky {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 99;
}

.header-area.sticky{
	background-color: #3F4D6B !important;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Quicksand';
	font-weight: 300;
}
#home{
	background-image: url("../img/intro-bg.jpg");
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	position: relative;
	color: #FFFFFF;
	padding-top: 10%;	
}

#home h1{
	font-size: 48px;
	padding-top: 10%;
	line-height: 1.6;
}

.overlay{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(44,54,75,0.8);
	width: 100%;
	height: 100%;
	}

.btn{
	padding: 15px 50px;
	font-size: 16px; 
	border: 0;
	color: #FFFFFF;
}

.btn-turquesa{
	background-color: #58c4c4;
}

.btn-azul{
	background-color: #39a1f4;
}

.btn-turquesa:hover,
.btn-azul:hover{
	background-color: #fff;
	color: #3f4d6b;
}

.title{
	font-size: 40px;
	text-align: center;
}

.title span{
	color: #3f4d6b;
	font-weight: 500;
}
.title::after{
	content: '';
	background-color: #2196f3;
	width: 60px;
	height: 4px;
	display: block;
	margin: 30px auto;
	border-radius: 15px;
}

section{
	padding: 80px 0;
}

.list-about{
	color: #3f4d6b;
	font-size: 15px;
	font-weight: 500;
	
}

.list-about span{
	color: #777;
	font-size: 14px;
	font-weight: normal;
}

#about h3{
	color: #3f4d6b;
	border-bottom: 1px solid #58c4c4;
	font-weight: 500;
	margin-bottom: 20px;	
}

#about h4{
	font-weight: 500;
	font-size: 18px;
}

.about-img{
	position: relative;
}

.img-icon{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-icon a{
	color: #FFF;
	font-size: 60px;
}

.about-img .overlay{
	transition: all 0.3 ease-in-out;
}
.about-img:hover .overlay{
	opacity: .40;
	transition: all 0.3 ease-in-out;
}

#features h3{
	font-size: 24px;
	font-weight: 400;
	color: #3f4d6b;
	margin-bottom: 25px 0px;
}

#team{
	background-color: #f6f8fa;
}

#team h3{
	color: #3f4d6b;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
}
.tarjeta{
	background-color: #3f4d6b;
	padding: 15px 20px;
	color: #ffffff;
	position: relative;
	border-radius: 5px;
	text-align: center;
}

.tarjeta h4{
	color: #58c4c4;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	text-align: left !important;
}

.tarjeta p{
	text-align: left !important;
}

.redes-tarjeta{
	text-align: center;
}

.redes-tarjeta a{
	background-color: rgba(0,0,0,0.10);
	padding: 8px;
	color: #ffffff;
	font-size: 16px;
	border-radius: 4px;
}

.redes-tarjeta a:hover{
	background-color: #ffffff;
	color: #3f4d6b;
}

.perfil-img img{
	border-radius: 100%;
	position: absolute;
	right: -40px;
	top: -75px;
	height: 75%;
	border-color: #ffffff;
	border-style: solid;
}